<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emobadaragaminglib" >
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
